{% include 'header2.twig' %}




<!-- Main variables *content* -->
		<div class="app-content blog-inner">
    <div class="container">
        <section class="bi-head-wrapper">
            <div class="bi-head-box">
                <div class="bi-head-bg">
                    <img src="https://i.ibb.co/N7x01CY/ezgif-com-gif-maker-1.jpg" alt="">
                </div>
                <div class="bi-head-content">
                    <div class="bi-cat-wrapper">
                        <a href="#" class="bi-cat">
                            Security
                        </a>
                    </div>
                    <div class="bi-title">
                        <h1>Reset Password</h1>
                    </div>
                </div>
            </div>
        </section>
     
        <section class="blog-content">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="bi-content">
                     <form method="post" action="">

          <div class="form-group">
            <label for="email" class="control-label">{{ lang['resetpassword.user'] }}</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="{{ lang['resetpassword.user.placeholder'] }}">
          </div>


          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-primary btn-border">{{ lang['resetpassword.button'] }}</button>
        </form>
                  </div>
                </div>
            </div>
        </section>
       
        <section class="bi-about-cloutsy">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="row align-items-center">
                        <div class="col-auto d-none d-lg-block">
                            <div class="bi-about-avatar">
                                <img src="https://cdn.smmspot.net/cloutsy/assets/img/avatar.png" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-lg">
                            <h3 class="bia-title">About <span class="p-color">{{ site['site_name'] }}</span></h3>
                            <p class="bia-text">
                                {{ site['site_name'] }} provides hundreds of services that will get you to your goal such as very
                                cheap and high quality followers, subscribers, likes and views.
                            </p>
                        </div>
                        <div class="col-lg-auto mt-3 mt-lg-0">
                            <a href="/signup" class="btn btn-primary btn-border d-flex align-items-center">
                                <span>Sign up and Get Raise!</span>
                                <i class="ri-arrow-right-line ms-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



  <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>


		

<style>
    .whatsapp-container{padding:24px}.whatsapp-button{width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF!important;border-radius:50px;text-align:center;font-size:30px;box-shadow:2px 2px 3px #999;display:flex;align-items:center;justify-content:center;text-decoration:none!important;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;transition:all 0.3s ease;transform:scale(0.9)}.whatsapp-button:hover{transform:scale(1);background-color:#1fcc5f}
</style>
<div class="integration-fixed integration-fixed__bottom-right">
    <div class="whatsapp-container">
        <a href="https://api.whatsapp.com/send?phone=18323023311" target="_blank" class="whatsapp-button">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</div>

  		<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="ft-content">
                <div class="row align-items-center">
                    <div class="col-md text-center text-md-start mb-4 mb-md-0">
                        <a href="/">
                            <img class="footer-logo" src="{{ site['logo'] }}" alt="Cloutsy">
                        </a>
                    </div>
                    <div class="col-md text-md-end text-center">
                        <ul class="footer-menu">
                            <li class="menu-item">
                                <a href="/" class="menu-link ">
                                    Home
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/services" class="menu-link ">
                                    Services
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/api" class="menu-link ">
                                    API
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/blog" class="menu-link ">
                                    Blog
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/terms" class="menu-link ">
                                    Terms
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="f-divider"></div>
        </div>
    </div><!-- ./footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                    <div class="footer-cp-text">
                        <a href="/">{{ site['site_name'] }}</a> © 2022. All rights reserved.
                    </div>
                </div>
                <div class="col-md-6  text-md-end text-center">
                    <div class="footer-alert">
                        Made with ❤️ by {{ site['site_name'] }} Team
                    </div>
                </div>
            </div>
            <div class="footer-l-alert mt-4">
                We are in no way affiliated with any of the social media platforms mentioned on this website, we
                are simply resellers of social media marketing services.
            </div>
        </div>
    </div>
</footer>
</div><!-- .root -->

<!-- bootstrap javascript bundle -->
<script src="https://cdn.smmspot.net/cloutsy/assets/js/bootstrap.bundle.min.js"></script>
<!-- swiper.js -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- actulus selectbox --> 
<script src="https://cdn.smmspot.net/cloutsy/assets/js/actulus.selectbox.js"></script>
<!-- sa -->
					<script type="text/javascript"  src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/aknio8ec1fpphc0p.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/nfos6j9mo1on7ksz.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/aep5leer2lblx6nz.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/6512pd498chdd7xk.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/fsvxaw/deemyq6wt6ekgyas.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/fsvxaw/xoupa5ojpygkpnk5.js" >
							</script>
					<script type="text/javascript"  src="https://www.google.com/recaptcha/api.js?hl=en" >
							</script>
					<script type="text/javascript" >
				window.modules.layouts = {"theme_id":1,"auth":0,"live":true,"csrftoken":"qphhsimzDuaayKE1H9JL_0MSjxv9eq3fRIN9Zda-dt3L_T7iSN9mlNeJ1UxeuQOULHfrXNAK3pIM8Rwku98OiQ=="};
			</script>
					<script type="text/javascript" >
							</script>
		</body>

</html>


<script defer src="https://cdn.smmspot.net/cloutsy/assets/js/main.js"></script>