{% include 'header.twig' %}




<div class="app-content blog-inner">
    <div class="container">
        <section class="bi-head-wrapper">
            <div class="bi-head-box">
                <div class="bi-head-bg">
                    <img src="https://i.ibb.co/Gd3pDyD/ezgif-com-gif-maker.webp" alt="">
                </div>
                <div class="bi-head-content">
                    <div class="bi-cat-wrapper">
                        <a href="#" class="bi-cat">
                            Business
                        </a>
                    </div>
                    <div class="bi-title">
                        <h1>Terms of service</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-content">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="bi-content">

                        {{ contentText }}
                        <h4>
                            Important information that users should read before registering and shopping on the sites
                            and applications under the name of &nbsp;{{ site["site_name"] }} are listed below.

                            Users are deemed to have read and accepted these articles in the purchases made and
                            registered on the sites and applications under the name of &nbsp;{{ site["site_name"] }}.
                            Please do not sign up for &nbsp;{{ site["site_name"] }} and the sites and applications under
                            the name of &nbsp;{{ site["site_name"] }} and do not approve any agreements if you will not
                            accept and read these articles.

                            It is recommended to read the User Agreement, which includes the general rules and legal
                            responsibilities regarding the use of the site, the terms, rules and legal responsibilities
                            below, before using https://www.&nbsp;{{ site["site_name"] }}

                            &nbsp;{{ site["site_name"] }} recommends its users to visit the user agreement page every
                            time they enter the site.

                            If the specified conditions do not comply with you, please do not accept this agreement and
                            stop using this website.

                            By using the site and filling out the membership form with your personal information, you
                            are deemed to have accepted the terms written on these pages.

                            &nbsp;{{ site["site_name"] }} reserves the right to change, reorganize and stop offering all
                            kinds of services, products, terms of use and information presented on the site without
                            prior notice on this site and its extension.

                            In the following written abuse cases, the site management may prevent the user from using
                            the site and reserves its legal rights about the person or persons who have not reviewed the
                            following items.
                            <p></p>
                            <p>
                                <b>
                                    ARTICLE 1</b>
                                <p />
                            <p>
                                The explanations on the social media services on &nbsp;{{ site["site_name"] }} Panel
                                (https://&nbsp;{{ site["site_name"] }}) are valid for every 1000 orders of yours, and
                                customers who place orders should know that the number of orders will increase depending
                                on the amount of the order.
                                <p />

                            <p><b>
                                ARTICLE 2</b>
                                <p />
                            <p>
                                The explanations stated in the service descriptions vary for all services. Each customer
                                has read and accepted all the items in the description section before placing an order.
                                &nbsp;{{ site["site_name"] }} does not refund all orders in case the explanation part is
                                not read.
                                <p />

                            <p><b>
                                ARTICLE 3</b>
                                <p />
                            <p>
                                If part of your order is completed or canceled due to a service problem, &nbsp;{{
                                site["site_name"] }} will automatically refund the balance of the order.
                                <p />

                            <p><b>
                                ARTICLE 4</b>
                                <p />
                            <p>
                                No guarantee is provided for all social media services offered on &nbsp;{{
                                site["site_name"] }} Panel.
                                <p />

                            <p><b>
                                ARTICLE 5</b>
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} customers cannot take any action that will disturb others
                                in their orders and do not order for subjects that contain obscene, gambling, coupons,
                                politics, violence, insults, harassment, profanity, illegal content. In the event that
                                an order is placed, their membership will be terminated without refunding their balance
                                and without warning. &nbsp;{{ site["site_name"] }} is not obliged to review every order
                                sent by customers. As a result of any abuse, &nbsp;{{ site["site_name"] }} does not
                                accept any provision of the completed order and holds the customer responsible.
                                <p />

                            <p><b>
                                ARTICLE 6</b>
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} does not use the return policy and does not return the
                                order in case any link is removed or changed in the orders placed through &nbsp;{{
                                site["site_name"] }}.
                                <p />

                            <p><b>
                                ARTICLE 7</b>
                                <p />
                            <p>
                                The customer, who has registered and placed an order with &nbsp;{{ site["site_name"] }}
                                and its applications, accepts these rules and cannot complain or claim any rights.
                                <p />

                            <p><b>
                                ARTICLE 8</b>
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} reserves the right to change the above items without
                                notice.
                                <p />

                            <p><b>
                                ARTICLE 9</b>
                                <p />
                            <p>

                                Social media platforms are constantly having updates. &nbsp;{{ site["site_name"] }}
                                services also need to be updated with the updates. All &nbsp;{{ site["site_name"] }}
                                customers should accept any delays due to these updates, changes in delivery time and
                                problems. In case of objection, &nbsp;{{ site["site_name"] }} reserves the right not to
                                use the return conditions.
                                <p />
                            <p>
                                We do not guarantee a delivery time for any services. We offer our best estimation for
                                when the order will be delivered. This is only an estimation and we will not refund
                                orders that are processing if you feel they are taking too long.
                                <p />
                            <p>
                                We are trying hard to deliver exactly what is expected from us by our re-sellers. In
                                this case, we reserve the right to change a service type if we believe it necessary to
                                complete an order.
                                <p />

                            <p><b>
                                ARTICLE 10</b>
                                <p />
                            <p>
                                Closing the accounts of &nbsp;{{ site["site_name"] }} customers using social media
                                services, deleting their posts, etc. &nbsp;{{ site["site_name"] }} does not assume any
                                responsibility and reserves the terms of return, in case of any action taken against
                                their accounts, which is under the will of social media companies such as &nbsp;{{
                                site["site_name"] }} services are only responsible for completing the amounts specified
                                in the service. &nbsp;{{ site["site_name"] }} does not accept any responsibility in case
                                the accounts are processed in the above mentioned situation.
                                <p />

                            <p><b>
                                ARTICLE 11</b>
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} customers should be aware that their e-mails are not
                                approved, Sms verification is not done and they should not be ordered to newly opened
                                accounts.
                                <p />

                            <p><b>
                                ARTICLE 12</b>
                                <p />
                            <p>
                                All services and websites on &nbsp;{{ site["site_name"] }} are processed by computer
                                software. If there is any security vulnerability on &nbsp;{{ site["site_name"] }} and it
                                is not reported, legal action will be initiated against the relevant &nbsp;{{
                                site["site_name"] }} customer and his account will be closed without warning or fee.
                                <p />

                            <p><b>
                                ARTICLE 13</b>
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} does not guarantee any activity or drop in all orders on
                                &nbsp;{{ site["site_name"] }}.
                                <p />

                            <p><b>
                                ARTICLE 14</b>
                                <p />
                            <p>
                                A second order should not be created on the same profile/username/link before the order
                                is completed. If this is done, the amount spent may be waste, the transactions may be
                                delayed and the fee may not be refunded. Anyone who has registered and placed an order
                                with &nbsp;{{ site["site_name"] }} applications accepts these rules and cannot complain
                                or claim any rights.
                                <p />

                            <p><p></p></p></p>
<b>
                                General Conditions</b>
                                <p />
                            <p>
                                1. a) Incorrect, irregular, incomplete and misleading information, statements that do
                                not comply with general moral rules, and information that contradicts the International
                                Law is recorded on the site.
                                <p />

                            <p>
                                2. b) Unauthorized copying of site content, in whole or in part.
                                <p />

                            <p>
                                3. c) The user is directly responsible for all kinds of damages that may arise from the
                                sharing of information such as user name, password, usage rights, given to the users or
                                that they have determined, with third parties or organizations (the use of this
                                information by persons other than the user). Likewise, the user cannot use personal
                                information such as IP address, e-mail address, user name of another person on the
                                internet, and cannot access or use other users' private information without permission.
                                The user is deemed to have accepted any legal and penal liability that may arise due to
                                such use.
                                <p />

                            <p>
                                4. d) Using software that will threaten the security of the site and prevent the site
                                from working, carrying out activities, trying to make applications such as spam, and
                                obtaining, deleting, changing information.
                                <p />

                            <p>
                                5. e) Disturbing the site users, not using the issues such as wrong and unethical mails,
                                sms and other notifications to manipulate or encourage the site users.
                                <p />

                            <p>
                                Persons who ignore the above articles are deemed to have accepted any legal and penal
                                liability that may arise.
                                <p />

                            <p>
                                <p></p>
<b>
                                Terms of Use</b>
                                <p />
                            <p>
                                1. The general appearance and design of &nbsp;{{ site["site_name"] }} websites and
                                applications, and all information, pictures, &nbsp;{{ site["site_name"] }} brand and
                                other brands, &nbsp;{{ site["site_name"] }} name, logo, icon, demonstrative, written,
                                electronic, graphic or machine-readable technical data on the website and applications,
                                is the owner or licensee of all materials and related intellectual and industrial
                                property rights, including computer software, applied sales system, business method and
                                business model, and are under legal protection. materials on the website; It cannot be
                                changed, copied, reproduced, translated into another language, licensed, republished,
                                uploaded to another computer, posted, transmitted, presented or distributed, including
                                code and software, without prior permission and without reference. &nbsp;{{
                                site["site_name"] }} websites and applications cannot be used in whole or in part on
                                another website without permission. On the contrary, actions require legal and criminal
                                responsibility. &nbsp;{{ site["site_name"] }} reserves all other rights not expressly
                                stated here.
                                <p />

                            <p>
                                2. All criticisms of &nbsp;{{ site["site_name"] }} and its applications belong to
                                &nbsp;{{ site["site_name"] }} and its applications.
                                <p />

                            <p> <p></p>
<b>
                                Responsibilities</b>
                                <p />
                            <p>
                                1. a) The information of users who visit &nbsp;{{ site["site_name"] }} and its
                                applications (visit time, time, pages viewed) can be tracked in order to better serve
                                the users.
                                <p />

                            <p>
                                2. b) The user cannot act to prevent or complicate the use of &nbsp;{{ site["site_name"]
                                }} websites or applications by other users and visitors, and cannot install programs
                                that will force, damage or lock servers or databases. They cannot attempt cheating.
                                He/she accepts that his/her membership will be terminated if he/she is found and he/she
                                accepts all kinds of legal and criminal liability that may arise from the situation.
                                <p />

                            <p>
                                3. c) Users cannot back up, store and share messages and conversation records made with
                                &nbsp;{{ site["site_name"] }} management without the permission of &nbsp;{{
                                site["site_name"] }} administrators. &nbsp;{{ site["site_name"] }} reserves all the
                                right to privacy.
                                <p />

                            <p>
                                4. d) Membership cancellation and account deletion can be done by the user by creating a
                                support request. The authorization of the user who terminates his membership to &nbsp;{{
                                site["site_name"] }} websites and applications will be revoked. The person who cancels
                                his/her membership accepts that this process is irreversible. &nbsp;{{ site["site_name"]
                                }} websites and applications are authorized by the administrators of &nbsp;{{
                                site["site_name"] }} websites and applications to delete any record of the user account
                                terminated by the user himself. The user cannot claim any right or compensation for the
                                deleted records.
                                <p />

                            <p>
                                5. e) &nbsp;{{ site["site_name"] }} websites and applications may contain links or
                                references to other websites that are not under the control of &nbsp;{{
                                site["site_name"] }} authorities. &nbsp;{{ site["site_name"] }} websites and
                                applications are not responsible for the content or other links they contain.
                                <p />

                            <p>
                                6. f) &nbsp;{{ site["site_name"] }} websites and applications can be sent via letter,
                                e-mail, SMS, via the address, e-mail address, fixed and mobile phone lines and other
                                contact information specified by the user in the registration form on the websites or
                                applications, or which can be updated later by himself. has the right to reach the user
                                for communication, marketing, notification and other purposes by phone call and other
                                means. By accepting this agreement, the user accepts and declares that &nbsp;{{
                                site["site_name"] }} websites and applications may engage in the above-mentioned
                                communication activities unless there is a written notification to the contrary.

                                <p />
                            <p>
                                7. g) In certain places of &nbsp;{{ site["site_name"] }} websites and applications,
                                different rules and obligations specific to that section may be specified. Persons and
                                organizations using these sections are deemed to have accepted these rules in advance.
                                <p />

                            <p>
                                8. h) Please read the "Usage Agreement" page to read the precautions we take to protect
                                the personal information and privacy of our users and our general policy on this matter.
                                The user accepts that he/she will be deemed to have accepted all the provisions of this
                                participation agreement from the moment he/she starts to benefit from the service and
                                that the agreement will make a provision for himself/herself. The user hereby agrees to
                                indemnify all kinds of damages incurred by &nbsp;{{ site["site_name"] }} websites and
                                applications due to his/her violation of the obligations undertaken under this contract.
                                &nbsp;{{ site["site_name"] }} has the right of recourse to the user for any compensation
                                and/or administrative/judicial fines that the websites and applications may have to pay
                                to public institutions and/or third parties due to the user's breach of contract.
                                <p />

                            <p><b>  
                                Service Continuity</b>
                                <p />
                            <p>
                                1. a) &nbsp;{{ site["site_name"] }} and its applications may make unilateral changes to
                                this contract without any notice in order to ensure the continuity of the services it
                                undertakes. &nbsp;{{ site["site_name"] }} and its applications always have the right to
                                permanently or temporarily stop the service it provides unilaterally, without any
                                justification, to execute the site without repaying the balances and credits in the
                                &nbsp;{{ site["site_name"] }} applications, to close the access and to change or cancel
                                the service contents. The user accepts every article written in the contract under these
                                conditions and is registered on the site within these conditions. &nbsp;{{
                                site["site_name"] }} and its applications, in case of any change, will be published on
                                the site with the new date update under the same link, the current terms of use, and if
                                necessary, users will be notified by e-mail or sms. The renewed current terms of use
                                will be valid from the moment of publication in &nbsp;{{ site["site_name"] }} and its
                                applications, and the use of services of &nbsp;{{ site["site_name"] }} and its
                                applications will be subject to the renewed terms of use from that moment on. Membership
                                of a member who has sent materials contrary to the provisions of this agreement to
                                &nbsp;{{ site["site_name"] }} a or its applications may be terminated unilaterally by
                                &nbsp;{{ site["site_name"] }} and its applications without any notice.
                                <p />

                            <p>
                                2. b) The contract enters into force, the user is deemed to have undertaken to comply
                                with the contract of &nbsp;{{ site["site_name"] }} and its applications from the moment
                                he/she fills out and approves the registration form, receives any service using this
                                system or places an order. The contract will automatically become void without the need
                                for any warning, with the termination of the membership or the realization of any of the
                                termination situations listed in this contract.
                                <p />
<p></p>
                            <p><b>
                                Non-Disclosure Agreement</b>
                                <p />
                            <p><b>
                                ARTICLE 1</b>
                                <p />
                            <p>
                                The records of the transactions made by &nbsp;{{ site["site_name"] }} and its
                                applications on the site are kept strictly confidential and are never shared with third
                                parties, institutions or organizations.
                                <p />

                            <p><b>
                                ARTICLE 2</b>
                                <p />
                            <p>
                                Your orders are shared with service providers. However, if requested by official
                                government agencies, records can be submitted to official government agency officials.
                                <p />

                            <p><b>
                                ARTICLE 3</b>
                                <p />
                            <p>
                                In this way, it is ensured that all transactions for payment are carried out between the
                                Coinbase Commerce, PayPal, CashApp payment systems and your device through the interface
                                in &nbsp;{{ site["site_name"] }} and its applications.
                                <p />

                            <p><b>
                                ARTICLE 4</b>
                                <p />
                            <p>
                                You can always reach us by using the contact information below. Only the customer can
                                access all the information that the customer enters into the system, and only the
                                customer can change this information. It is not possible for anyone else to access and
                                change this information.
                                <p />

                            <p><b>
                                ARTICLE 5</b>
                                <p />
                            <p>
                                Registering in &nbsp;{{ site["site_name"] }} and its applications or creating a
                                successful order means that you allow our site to deliver our announcements to your
                                e-mail address and phone number. Users have the right to leave the announcement list at
                                any time, even if they notify &nbsp;{{ site["site_name"] }} and its applications.
                                <p />

                            <p><b>
                                Refund Policy</b>
                                <p />
                            <p>
                                Any balance or crypto or any payment added to &nbsp;{{ site["site_name"] }} and its
                                applications cannot be refund by &nbsp;{{ site["site_name"] }} and its applications, but
                                &nbsp;{{ site["site_name"] }} and its applications managers make the refunds (site
                                balance only) when deemed necessary. Balances added to &nbsp;{{ site["site_name"] }} and
                                its applications or payments made to &nbsp;{{ site["site_name"] }} and its applications
                                can only be used in &nbsp;{{ site["site_name"] }} and its applications.
                                <p />
                            <p>
                                Instagram/Twitter/Facebook etc. We do not know when social media platforms such as
                                social media platforms can update, in case of any drop, no refund can be made unless the
                                service provider makes a compensation.
                                <p />
                            <p>
                                If your page had 100k+ followers/likes/views already before you order us, it will not
                                cover refill protection, even if you order for refill server from us, as its not
                                possible to understand from where you lost the followers/likes/views.
                                <p />
                            <p>
                                If insults or abuse against the admins and employees of &nbsp;{{ site["site_name"] }}
                                applications are detected, the payments, balances and credits to their membership will
                                be confiscated and &nbsp;{{ site["site_name"] }} and its applications reserve the right
                                to withdraw the followers or likes sent.
                                <p />
                            <p>
                                The accounts of people who make payments on behalf of someone else with stolen money
                                (Crypto, Cashapp, PayPal) or different methods under &nbsp;{{ site["site_name"] }} and
                                its applications will be closed without stating the reason.
                                <p />
                            <p>
                                Your cancellation/refund request will not be accepted after the orders are entered into
                                the system. If the order is not completed/partially completed, the system will
                                automatically issue a refund to balance.
                                <p />
                            <p>
                                Every customer registered in the applications on &nbsp;{{ site["site_name"] }} accepts
                                the rules and conditions above and cannot complain or claim rights.
                                <p />
                            <p>
                                &nbsp;{{ site["site_name"] }} reserves the right to change the terms of use without
                                notice.
                                <p />
                                Best regards,&nbsp;{{ site["site_name"] }} team.
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="bi-about-cloutsy">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="row align-items-center">
                        <div class="col-auto d-none d-lg-block">
                            <div class="bi-about-avatar">
                                <img src="https://cdn.smmspot.net/cloutsy/assets/img/avatar.png" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-lg">
                            <h3 class="bia-title">About <span class="p-color">{{ site["site_name"] }} </span></h3>
                            <p class="bia-text">
                                {{ site["site_name"] }} provides hundreds of services that will get you to your goal
                                such as very
                                cheap and high quality followers, subscribers, likes and views.
                            </p>
                        </div>
                        <div class="col-lg-auto mt-3 mt-lg-0">
                            <a href="/signup" class="btn btn-primary btn-border d-flex align-items-center">
                                <span>Sign up and Start Today!</span>
                                <i class="ri-arrow-right-line ms-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% include 'footer.twig' %}